<body>
    
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-3 contact">
                    <h3>Contact Me</h3>
                    <p style="margin-top: 0.5rem;">Send me a message, I always love connecting with new people!</p>
                </div>

                <div class="col-md-3 location">
                    <h3>Location</h3>
                    <p style="margin-top: 0.5rem;">Markham, ON, Canada</p>
                </div>

                <div class="col-md-3 email">
                    <h3>Email</h3>
                    <p style="margin-top: 0.5rem;"><a href="mailto:janahan.ravichandran@gmail.com">janahan.ravichandran@gmail.com</a></p>
                </div>

                <div class="col-md-3">
                    <h3>Social Media</h3>
                    <div style="margin-top: 0.5rem;">
                        <a href="https://www.linkedin.com/in/janahan-ravi-25376b141"><i class="fab fa-linkedin-in fa-2x"></i></a>
                        <a href="https://github.com/Janahan10"  class="info-button" style="margin-left: 2rem;"><i class="fab fa-github fa-2x"></i></a>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    
</body>