<head>
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans|Nunito:600&display=swap" rel="stylesheet">
</head>

<div class="main-header">
    <!-- Main Header Image-->
    <div>
        <div class="hero-text">
            <h1><span>HI! I'm Janahan Ravichandran</span></h1>
            <img class="circular" src="\assets\img\aboutMe.jpg" height="40%" width="40%">
        </div>
    </div>
    
    <div class="container">
        <section class="info-card"> 
            <a href="https://www.linkedin.com/in/janahan-ravi-25376b141" class="info-button"><i class="fab fa-linkedin-in fa-4x"></i></a>
            <a href="https://github.com/Janahan10"  class="info-button"><i class="fab fa-github fa-4x"></i></a>
        </section>
    </div>

    <section class="brief">
        <h2>{{ desc1 }}</h2>
    </section>
</div>