<!-- 
<div class="flip-card">
    <div class="flip-card-inner">
        <div class="flip-card-front">
            <i class="fas fa-wifi"></i>
        </div>
        <div class="flip-card-back">
            <h1>Web Technologies</h1>
            <p>HTML, CSS, PHP, MySQL</p>
        </div>
    </div>
</div>
-->
<body>
    
    <div class="row" style="border: solid 5px black; text-align: center;">
        <div class="col-md-4" style="background-color: yellow;">
            <i class="icon fas fa-wifi fa-5x"></i>
            <h4>Web</h4>
        </div>

        <div class="col-md-4" style="background-color: orange;">
        </div>

        <div class="col-md-4" style="background-color: red;">
            <i class="icon fas fa-server fa-5x"></i>
            <h4>Backend</h4>
        </div>
    </div>
    
</body>

