
<head>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300&display=swap" rel="stylesheet">
</head>

<body>
    <!-- Header Section for Resume-->
    <div class="main-header" data-aos="fade-right">
        <h1 style="text-align: center;"><span>Resume</span></h1>
    </div>
    <!-- Header Section End-->

    <!-- Card to download Resume-->
    <div data-aos="flip-down">
        <a href="assets/Janahan Ravichandran Resume.pdf" >
            <div class="card" style="margin-top: 2rem;" data-aos="zoom-in-down">
                <i class="fas fa-file-download fa-5x"></i>
                <h3 class="title">Resume</h3>
                <p>Click here to download</p>
                <p id="placeholder">Last Updated: 12/26/2019</p>
            </div>
        </a>
    </div>
    <!-- Card End-->
    
</body>