
* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

body {
    padding: 0 4rem 0 4rem;
    font-size: 1.3rem;
    background-color: black;
}

.container {
    max-width: 1300px;
    margin: auto;
    overflow: auto;
    padding: auto;
}

.main-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 2rem;
    border-bottom: solid rgba(0, 60, 255, 0.829) 0.25rem;
}

.main-header h1 {
    font-size: 3.5rem;
    margin-bottom: 2rem;
    line-height: 1.2;
}

.main-header h1 span {
    color: rgba(0, 60, 255, 0.829);
}
.main-header p {
    font-size: 1rem;
    color: white;
}

img {
    margin: auto;
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    background-color: rgba(4, 36, 141, 0.829);
    margin-bottom: 2rem;
    border-radius: 5px;
    color: white;
    padding: 2rem;
}

.title {
    background-color: rgba(2, 49, 206, 0.829);
    text-align: center;
    align-items: center;
    display: flex;
}
.title h1 {
    text-transform: uppercase;
}

.card > div {
    padding: 2rem;
}

div > p {
    margin-bottom: 2rem;
}
.info-button {
    color: white;
}

a:hover{
    color: rgba(0, 60, 255, 0.829);
}

@media(max-width: 600px) {
    .card {
        display: block;
    }
}

div > i {
    margin-right: 1rem;
    margin-bottom: 1rem;
}
