
* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

body {
    padding: 0 4rem 0 4rem;
    font-size: 1rem;
    background-color: black;
}

.container {
    min-width: 300px;
    margin: auto;
    overflow: auto;
    padding: auto;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 550px));
    grid-gap: 1rem;
}

.main-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 2rem;
    border-bottom: solid rgba(0, 60, 255, 0.829) 0.25rem;
}

.main-header h1 {
    font-size: 3.5rem;
    margin-bottom: 2rem;
    line-height: 1.2;
}

.main-header h1 span {
    color: rgba(0, 60, 255, 0.829);
}
.main-header p {
    font-size: 1rem;
    color: white;
}

.card {
    background-color: rgba(51, 49, 49, 0.829);
    margin-top: 2rem;
    border-radius: 5px;
    color: white;
    padding: 2rem;
}

.title {
    background-color: rgba(49, 49, 49, 0.829);
    text-align: center;
    align-items: center;
    display: flex;
}
.title h1 {
    text-transform: uppercase;
}

.card > div {
    padding: 2rem;
}

div > p {
    margin-bottom: 2rem;
}
.info-button {
    color: white;
}

a:hover{
    color: black;
}

div > i {
    margin-right: 1rem;
    margin-bottom: 1rem;
}

a {
    text-align: center;
}

img {
    height: 35px;
    width: 35px;
}