
<head>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300&display=swap" rel="stylesheet">
</head>

<body>
    <!-- Header Section for Projects-->
    <div class="main-header">
        <h1 style="text-align: center;" data-aos="fade-left"><span>{{title}}</span></h1>
        <p style="text-align: center;" data-aos="fade-left">{{desc}}</p>
    </div>
    <!-- Header Section Ends -->
    
    <!-- Main container for project cards-->
    <main class="container">

        <!-- Project 1 Card item Begins-->
        <div class="card" data-aos="fade-left">
            <div class="title">
                <div class="col">
                     <!-- THIS WAS ORIGINALLY A H1-->
                    <h1>To Do App (In Progress)</h1>
                </div>
            </div>
            <div>
                <div style="text-align: center;">
                    <p style="font-weight: bold; margin-bottom: 0.5rem;">{{ subtitle }}</p>
                    <img src="assets/img/flutter_icon.png">
                </div>
                <p style="margin-top: 0.5rem;">
                    UNDER CONSTRUCTION, this project is a flutter based mobile application for task management and to help 
                    stay organized from day-to-day as well as manage different projects.
                </p>
                <a href="https://github.com/Janahan10/Todo-App"  class="info-button"><i class="fab fa-github fa-4x"></i></a>
            </div>
            <img src="" alt="">
        </div>
        <!-- Project 1 Card item Ends-->

        <!-- Project 2 Card item Begins-->
        <div class="card" data-aos="fade-right">
            <div class="title">
                <div class="col">
                     <!-- THIS WAS ORIGINALLY A H1-->
                    <h1>Dice Roller</h1>
                </div>
            </div>
            <div>
                <div style="text-align: center;">
                    <p style="font-weight: bold; margin-bottom: 0.5rem;">{{ subtitle }}</p>
                    <img src="assets\img\kotlin_logo.png" style="margin-bottom: 0.5rem;">
                    
                </div>
                <p> My first attempt at mobile app development through android studio. This app is a exactly what it sounds like! 
                    when the app is loaded users can press a button to roll a visual die on the screen for a number between 1 and 6.
                </p>
                <a href="https://github.com/Janahan10/rock-paper-scissors"  class="info-button"><i class="fab fa-github fa-4x"></i></a>
            </div>
        </div>
        <!-- Project 2 Card item Ends-->

        <!-- Project 3 Card item Begins-->
        <div class="card" data-aos="fade-right" style="margin-bottom: 2rem;">
            <div class="title">
                <div class="col">
                     <!-- THIS WAS ORIGINALLY A H1-->
                    <h1>Rock, Paper, Scissors</h1>
                </div>
            </div>
            <div>
                <div style="text-align: center;">
                    <p style="font-weight: bold; margin-bottom: 0.5rem;">{{ subtitle }}</p>
                    <i class="fab fa-html5 fa-2x"></i>
                    <i class="fab fa-css3-alt fa-2x"></i>
                    <i class="fab fa-js fa-2x"></i>
                    <i class="fab fa-node fa-2x"></i>
                </div>
                <p>A very classic name to decide anything! I recreated this game as a multiplayer game by utilizing Express along
                    with Node.js to allow users to play anywhere. This was a project was for my SOFE 2720, Principles of Software
                    Development course. 
                </p>
                <a href="https://github.com/Janahan10/rock-paper-scissors"  class="info-button"><i class="fab fa-github fa-4x"></i></a>
            </div>
        </div>
        <!-- Project 3 Card item Ends-->

        <!-- Project 4 Card item Begins-->
        <div class="card"  style="margin-bottom: 2rem;">
            <div class="title">
                <div class="col">
                    <!-- THIS WAS ORIGINALLY A H1-->
                   <h1>Super Mario Clone</h1>
               </div>
            </div>
            <div>
                <div style="text-align: center;">
                    <p style="font-weight: bold; margin-bottom: 0.5rem;">{{ subtitle }}</p>
                    <i class="fab fa-java fa-2x"></i>
                </div>
                <p>Super Mario Bros. 3 on the NES was one of the first games I ever played in my childhood. 
                    So I decided to recreate it in a modern way, by making it using Java. This project utilizes object orientated 
                        programming practices, as well GUI elements. While building this project it also taught me about the fundementals
                            of collision detection.</p>
                <a href="https://github.com/Janahan10"  class="info-button"><i class="fab fa-github fa-4x"></i></a>
            </div>
        </div>
        <!-- Project 4 Card item Ends-->

    </main>
</body>